.about-section {
  display: flex;
  letter-spacing: 0.25rem;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.about-section > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-section > div > p {
  color: var(--clr-100);
  line-height: 130%;
}

.about-section > .social-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.about-section > .social-container > a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--clr-100);
  transition: color 300ms ease-in-out;
}

.about-section > .social-container > a > img {
  width: 1.5rem;
}

.about-section > .social-container > a:hover,
.about-section > .social-container > a:focus {
  color: var(--clr-300);
}

@media (min-width: 1024px) {
  .about-section {
    padding-inline: 4rem;
    padding-block: 4rem;
    height: 100vh;
    gap: 2rem;
  }
  .about-section > div > p {
    font-size: 1.1rem;
    max-width: 100ch;
  }
  .about-section > .social-container {
    font-size: 1.1rem;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .about-section {
    padding-inline: 5rem;
    margin-block: 4rem;
    height: 100vh;
    gap: 1rem;
  }
  .about-section > div {
    max-width: calc(100vw - 5rem);
  }
  .about-section > .social-container > a {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .about-section {
    padding-inline: 1rem;
    margin-block: 4rem;
    height: 100vh;
    gap: 1rem;
  }
  .about-section > div {
    max-width: calc(100vw - 1rem);
  }
  .about-section > .social-container > a {
    font-size: 0.8rem;
  }
}
