.contact-section {
  display: flex;
}

.contact-section > .left-side > p {
  padding-inline-start: 1rem;
}

.contact-section > .left-side > .page-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--clr-300);
  position: relative;
}

.contact-section > .left-side > .page-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 0.2rem;
  width: 50%;
  background-color: var(--clr-320);
}

.contact-section > .left-side > .contact-content {
  display: flex;
  flex-direction: column;
  color: var(--clr-900);
}

.contact-section > .right-side > form {
  display: flex;
  flex-direction: column;
}

.contact-section > .right-side > form > input,
.contact-section > .right-side > form > textarea {
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
  border: 2px solid var(--clr-300);
  background-color: transparent;
  color: var(--clr-300);
}

.contact-section > .right-side > form > input::placeholder,
.contact-section > .right-side > form > textarea::placeholder {
  color: var(--clr-300);
}

.contact-section > .right-side > form > button {
  width: fit-content;
  align-self: flex-end;
}

.contact-section > .right-side > form > .message {
  background-color: var(--clr-300);
  color: var(--clr-100);
  padding: 0.5rem;
}

@media (min-width: 2560px) {
  .contact-section {
    padding-inline: 10rem;
  }
  .contact-section > .left-side {
    max-width: 50%;
  }
  .contact-section > .left-side > .contact-content {
    gap: 1rem;
    padding-inline-start: 1rem;
  }
  .contact-section > .left-side > .page-title {
    margin-block-end: 2rem;
  }
  .contact-section > .left-side > .page-title::after {
    left: 12rem;
  }
  .contact-section > .right-side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-section > .right-side > form {
    gap: 1rem;
    width: 80%;
    margin-block-start: 4rem;
  }
  .contact-section > .right-side > form > textarea {
    height: 10.5rem;
    resize: none;
  }
  .contact-info-large-screen {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .contact-info-large-screen > a {
    display: flex;
    gap: 0.5rem;
    color: var(--clr-900);
    font-weight: bold;
    text-underline-offset: 0.25rem;
  }
  .contact-info-large-screen > a > img {
    width: 1.25rem;
  }
}

@media (min-width: 1024px) and (max-width: 2559px) {
  .contact-section {
    padding-inline: 10rem;
  }
  .contact-section > .left-side {
    max-width: 50%;
  }
  .contact-section > .left-side > .contact-content {
    gap: 1rem;
    padding-inline-start: 1rem;
  }
  .contact-section > .left-side > .page-title {
    margin-block-end: 2rem;
  }
  .contact-section > .left-side > .page-title::after {
    left: 12rem;
  }
  .contact-section > .right-side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-section > .right-side > form {
    gap: 1rem;
    width: 80%;
    margin-block-start: 4rem;
  }
  .contact-section > .right-side > form > textarea {
    height: 10.5rem;
    resize: none;
  }
  .contact-info-large-screen {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .contact-section {
    padding-inline: 6rem;
    padding-block-end: 2rem;
  }
  .contact-section > .left-side {
    max-width: 50%;
  }
  .contact-section > .left-side > .contact-content {
    gap: 1rem;
    padding-inline-start: 1rem;
  }
  .contact-section > .left-side > .page-title {
    margin-block-end: 2rem;
  }
  .contact-section > .left-side > .page-title::after {
    left: 12rem;
  }
  .contact-section > .right-side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-section > .right-side > form {
    gap: 1rem;
    width: 80%;
    margin-block-start: 4rem;
  }
  .contact-section > .right-side > form > textarea {
    height: 10rem;
    resize: none;
  }
  .contact-info-large-screen {
    display: none;
  }
}

@media (max-width: 768px) {
  .contact-section {
    padding-inline: 1rem;
    padding-block-end: 7rem;
    flex-direction: column;
  }
  .contact-section > .left-side {
    max-width: 100%;
  }
  .contact-section > .left-side > .contact-content {
    gap: 1rem;
    padding-inline-start: 1rem;
  }
  .contact-section > .left-side > .page-title {
    font-size: 1.5rem;
    margin-block-end: 2rem;
  }
  .contact-section > .left-side > .page-title::after {
    left: 9.5rem;
  }
  .contact-section > .right-side {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-section > .right-side > form {
    gap: 1rem;
    width: 100%;
    margin-block-start: 2rem;
  }
  .contact-section > .right-side > form > textarea {
    height: 10.5rem;
    resize: none;
  }
  .contact-info-large-screen {
    display: none;
  }
}
