footer {
  display: flex;
  background-color: var(--clr-300);
  color: var(--clr-100);
  margin-top: 6rem;
  user-select: none;
}
footer > p {
  display: flex;
  align-items: center;
  text-align: center;
}

@media (min-width: 1024px) {
  footer {
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-block: 1rem;
  }
  footer > p > img {
    width: 1rem;
    margin-inline-end: 0.25rem;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  footer {
    align-items: center;
    justify-content: center;
    padding-block: 0.5rem;
    gap: 0.5rem;
  }

  footer > p > img {
    width: 1rem;
    margin-inline-end: 0.25rem;
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 0.5rem;
    gap: 0.5rem;
  }

  footer > p > img {
    width: 1rem;
    margin-inline-end: 0.25rem;
  }
}
