:root {
  --ff-primary: "Inter", sans-serif;

  --clr-100: #f1faee;
  --clr-300: #8a4fff;
  --clr-310: #7343d5;
  --clr-320: #b691ff;
  --clr-500: #587c71;
  --clr-900: #0f1108;
  --clr-910: #0f110875;
}

body {
  font-family: var(--ff-primary);
  scroll-behavior: smooth;
  background-color: var(--clr-100);
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-300);
}

::-webkit-scrollbar-track {
  background-color: var(--clr-100);
}

.cta-button {
  background-color: var(--clr-300);
  border: none;
  outline: none;
  color: var(--clr-100);
  font-weight: bold;
  cursor: pointer;
  transition: background 300ms ease-in;
}

.cta-button:hover,
.cta-button:focus {
  background-color: var(--clr-310);
}

.to-top {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  box-shadow: 0.2rem 0.35rem 0.5rem 0.1rem var(--clr-910);
  z-index: 9999;
  cursor: pointer;
  transition: bottom 300ms ease-in-out;
}

.stt-btn-enter {
  transform: translateX(150%);
}
.stt-btn-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in;
}
.stt-btn-exit {
  transform: translateX(150%);
  transition: transform 300ms ease-in;
}

@media (min-width: 2560px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .cta-button {
    border-radius: 1rem;
    padding: 1rem 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .cta-button {
    border-radius: 0.8rem;
    padding: 0.8rem 1.75rem;
  }
}

@media (max-width: 768px) {
  .cta-button {
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
  }

  .to-top.site-end-bump {
    bottom: 7rem;
  }
}
