:root {
  --ff-primary: "Roboto", sans-serif;

  --clr-100: #e3fff7;
  --clr-300: #00ffb3;
  --clr-500: #587c71;
  --clr-900: #202222;
}

body {
  font-family: var(--ff-primary);
  scroll-behavior: smooth;
  background-color: var(--clr-900);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
